include VERSION
include src/namel3ss_safeio.py
include CHANGELOG.md
recursive-include src/namel3ss/templates *
recursive-include src/namel3ss/examples *
recursive-include src/namel3ss/demos *
recursive-include src/namel3ss/studio/web *
recursive-include src/namel3ss/runtime/web *
recursive-include src/namel3ss/runtime/native/lib *
recursive-include resources/icons *
